<section class="section-wrapper under-slider">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h3 class="section-header">My Trips</h3>
      </div>
      <% for trip in @user.trips %>

      <div class="span3">
        <div class="white-card">
          <div class="img-w hover-fader">
            <a href="/trip/<%= trip.id %>" title="<%= trip.title%>">
              <img alt="<%= trip.title%>" src="<%= trip.thumbnail%>">
            </a></div>
          <h5> <a href="/trip/<%= trip.id %>"> <%= trip.title%> </a></h5>


        </div>
      </div>

        <% end %>

    </div>
  </div>
</section>
