<title><%= @location.title %> : ThrillPad : Travel Planning : Powerful Travel Planner</title>
<meta name="description" content="ThrillPad: Powerful Travel Planner, We help you build interesting trip & buy them. <%= @location.description %>"/>
<meta name="keywords" content="<%= @location.title %> India Tourism Travel, Book Flight Tickets, Unique Activities, Hotel Bookings, Restaurants in India, Powerful Travel Planner"/>


<ul class="breadcrumb" style="margin-top: 15px">
  <li>
    <a href="/">Home</a>
  </li>
  <li class="visible-desktop-inline-block hidden-not-big-desktop">
    <a href="<%= @location.state.country.uurl %>"> <%= @state.country.title %></a>
  </li>
  <li class="visible-desktop-inline-block hidden-not-big-desktop">
    <a href="<%= @location.state.uurl %>"> <%= @location.state.title %></a>
  </li>
  <li class="active">
    <span><%= @location.title %></span>
  </li>
</ul>


<section class="section-wrapper post-w">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span9">
        <div class="single-post-w">
          <h1 class="post-title"><%= @location.title %></h1>

          <div class="post-info recent-post recent-post-header">
            <span class="info-item">
              in
              <a class="post-tag" href="/locations/<%= @state.country.slug %>/<%= @location.state.slug %>">
                <span class="label label-info"><%= @location.state.title %></span>
              </a>
            </span>

          </div>
          <div class="post-content">
            <p class="section-paragraph" style="text-align: justify; font-size: 17px"><%= @location.description.html_safe %></p>
          </div>
        </div>
        <div>
          <nav class="clearfix container" id="top_nav_param" style="width:97%;margin-left: 7px;">
            <ul id="filters" class="widget bigg_text ">
              <li><a href="#">Filter</a></li>
              <li><a href="#" data-filter="*">Show All</a></li>
              <li><a href="#" data-filter=".places_to_visit">Places to Visit</a></li>
              <li><a href="#" data-filter=".places_to_stay">Places to Stay</a></li>
              <li><a href="#" data-filter=".things_to_do">Things To Do </a></li>
            </ul>

          </nav>
          <section id="options" class="clearfix">
            <nav class="clearfix container" id="top_nav_param" style="margin-top: 10px; width:97%;margin-left: 7px;">
              <ul id="sort-by" class="widget bigg_text option-set clearfix " data-option-key="sortBy">
                <li><a href="#">Sort by </a></li>

                <li><a href="#" data-filter="*">Show All</a></li>
                <li><a href="#sortBy=name" data-option-value="name">Name</a></li>
                <li><a href="#sortBy=number" data-option-value="number" class="selected">Price</a></li>

              </ul>

            </nav>
            </section>
            <div class="row-fluid" id="container">

              <% @location.places.each_with_index do |place, index| %>
                  <div class="thumbnail  widget item places_to_visit" style="margin: 5px; width: 300px; min-height: 425px">
                    <img src="<%= place.image1.thumb %>" alt="<%= place.title %>"/>

                    <div class="caption">
                      <h4 class="name"><%= place.title %></h4>

                      <p><%= place.description.truncate(100).html_safe %></p>

                      <p><a href="<%= place.uurl %>" class="btn btn-primary">Favorite</a>
                        <a href="<%= place.uurl %>" class="btn btn-primary">Read more...</a></p>

                      <p class="weight" style="display: none"><%= place.id %></p>
                    </div>
                  </div>
              <% end %>

              <% @location.hotels.each_with_index do |place, index| %>
                  <div class="thumbnail  widget item places_to_stay" style="margin: 5px; width: 300px; min-height: 425px">
                    <img src="<%= place.image1.thumb %>" alt="<%= place.title %>"/>

                    <div class="caption">
                      <h4 class="name"><%= place.title %></h4>

                      <p><%= place.description.truncate(100).html_safe %></p>

                      <p><a href="<%= place.uurl %>" class="btn btn-primary">Favorite</a>
                        <a href="<%= place.uurl %>" class="btn btn-primary">Read more...</a></p>

                      <p class="weight"  style="display: block">Rs. <%= place.price %></p>
                    </div>
                  </div>
              <% end %>

              <% @location.tp_activities.each_with_index do |place, index| %>
                  <div class="thumbnail  widget item things_to_do" style="margin: 5px; width: 300px; min-height: 425px">
                    <img src="<%= place.image1.thumb %>" alt="<%= place.title %>"/>

                    <div class="caption">
                      <h4 class="name"><%= place.title %></h4>

                      <p><%= place.description.truncate(100).html_safe %></p>

                      <p><a href="<%= place.uurl %>" class="btn btn-primary">Favorite</a>
                        <a href="<%= place.uurl %>" class="btn btn-primary">Read more...</a></p>

                      <p class="weight"  style="display: block">Rs. <%= place.price %></p>
                    </div>
                  </div>
              <% end %>
            </div>
        </div>
      </div>
      <div class="span3">
        <div class="blog-side-bar">
          <div class="blog-flickr-widget widget-tp">
            <h3><i class="icon-picture"></i> Gallery</h3>
            <%= gallery_view(@location).html_safe %>
          </div>
          <div class="blog-side-text-block widget-filled widget-yellow">
            <h3>History of <%= @location.title %></h3>

            <p>

            <p class="section-paragraph" style="text-align: justify; font-size: 17px"><%= @location.history.html_safe %></p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
