<title>ThrillPad : Travel Planning : Powerful Travel Planner</title>
<meta name="description" content="ThrillPad: Powerful Travel Planner, We help you build interesting trip & buy them"/>
<meta name="keywords" content="India Tourism Travel, Book Flight Tickets, Unique Activities, Hotel Bookings, Restaurants in India, Powerful Travel Planner"/>
<div class="container">
  <div class="row-separated" style="margin-top: 40px; margin-bottom: 40px">
    <div class="typeahead-demo">
      <input id="locsearch" class="typeahead tt-query" placeholder="Search places" autocomplete="off" spellcheck="false" dir="auto"
             style="position: relative;padding: 5px; background-color: transparent;width: 587px;"></input>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h3 class="section-header">Featured Locations</h3>
    </div>
    <% @places.each do |place| %>
        <div class="span3" style="margin: 10px; min-height: 550px">
          <div class="white-card recent-post clearfix">
            <h5 class="recent-post-header">
              <a href="/locations/<%= place.city.state.country.slug %>/<%= place.city.state.slug %>/<%= place.city.slug %>/<%= place.slug %>"><%= place.title %> </a>
            </h5>

            <div class="post-info clearfix">

              <div class="pull-right">
                <a href="#" class="post-like"><i class="icon-heart"></i>
                  250
                </a></div>
            </div>
            <img alt="<%= place.title %>" class="post-image" src="<%= place.image1.thumb %>"/>

            <p class="post-content separated"><%= place.description.truncate(150) %></p>
            <a href="/locations/<%= place.city.state.country.slug %>/<%= place.city.state.slug %>/<%= place.city.slug %>/<%= place.slug %>" class="btn btn-primary btn-extra pull-right post-btn">Read
              More &gt;</a>
          </div>
        </div>
    <% end %>
  </div>
</div>
<script>
    $('#locsearch').typeahead({
        // name: 'repos'
        remote: '/locations_js/jssearch/%QUERY', template: [
            '<a class="repo-name" href="/locations/{{value}}">{{language}}</a>'
            // , '<a class="repo-name">{{name}}</a>'
            , '<p class="repo-description" style="white-space: normal;text-align:right;margin-top:20px">{{description}}</p>'
            //, '<a class="repo-description">{{description}}</a>'
        ].join(''), engine: Hogan
    });
</script>